<%= render partial: "shared/user", locals: { user: @user } %>
<%@posts.each do |post|%>
<%= render partial: "shared/post", locals: { post: post } %>
  <%post.last_five_comments.each do |comment|%>
  <%= render partial: "shared/comment", locals: { comment: comment } %>
  <div>
      <% if can? :destroy, comment %>
        <%= button_to "Delete", user_post_comment_path(post.author.id, post.id, comment.id), method: :delete, params: { comment_id: comment.id}%>
      <% end %>
    </div>
  <% end %>
<% end %>
<%= link_to new_user_post_path(@posts) do %>
  <button type="button">Create new Post</button>
<% end %>
