<div class="fullPost">
  <div class="postHead">
  <h4>Post #<%= @post.id %> by <%= @post.author.name %></h4>
  <p>Comments: <%= @post.comments_counter %>, Likes:<%= @post.like_counter %></p>
  </div>
  <p><%= @post.text %></p>
</div>
<div class="commentLike">
  <%= form_with url: "/posts/#{@post.id}/comments", scope: :comment do |form| %>
  <div >
    <%= form.label :text %>
    <%= form.text_area :text, required: true %>
  </div>
  <%= form.submit class: "commentButton" %>
  <% end %>
  <%= form_with url: "/posts/#{@post.id}/likes", class: "likeDiv", scope: :like do |form| %>
    <%= form.submit "Like ", class: "likeButton"%>
  <% end %>
</div>
<%@comments.each do |comment|%>
<%= render partial: "shared/comment", locals: { comment: comment } %>
<% end %>